@import './main.scss';
@import './comp/button.scss';

$h1size-fontsize:35px;
$h1size-mini-fontsize:28px;

.head {
    background-image: url(../img/wallhaven-749501.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20vh;
}

.tittle {
    text-align: center;
}

.button--group {
    margin-top: 10px;
}


@media (min-width:$media-screen-width) {
    .center {
        padding-top: 5vh;
        padding-right: 5%;
        padding-left: 5%;
    }

    .contian {
        width: 70%;
        padding: 0 15%;
    }

    .tittle {
        font-size: $h1size-fontsize;
    }
}